# Dependencias
/vendor
/node_modules

# Configuración y Secretos
.env
.env.backup
.phpunit.result.cache
/storage/*.key

# Laravel Logs y Cache
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*

# Sistema y Otros
.DS_Store
Thumbs.db
